<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (rental(); as rentalRef) {
      <div>
        <h2 data-cy="rentalDetailsHeading"><span jhiTranslate="locationTruckApplicationApp.rental.detail.title">Rental</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ rentalRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="locationTruckApplicationApp.rental.streetAddress">Street Address</span></dt>
          <dd>
            <span>{{ rentalRef.streetAddress }}</span>
          </dd>
          <dt><span jhiTranslate="locationTruckApplicationApp.rental.postalCode">Postal Code</span></dt>
          <dd>
            <span>{{ rentalRef.postalCode }}</span>
          </dd>
          <dt><span jhiTranslate="locationTruckApplicationApp.rental.city">City</span></dt>
          <dd>
            <span>{{ rentalRef.city }}</span>
          </dd>
          <dt><span jhiTranslate="locationTruckApplicationApp.rental.stateProvince">State Province</span></dt>
          <dd>
            <span>{{ rentalRef.stateProvince }}</span>
          </dd>
          <dt><span jhiTranslate="locationTruckApplicationApp.rental.rentals">Rentals</span></dt>
          <dd>
            @if (rental()!.rentals) {
              <div>
                <a [routerLink]="['/truck-my-suffix', rental()!.rentals?.id, 'view']">{{ rentalRef.rentals?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/rental-my-suffix', rentalRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
